.App {
  /* outline: 1px solid rgba(255,255,255,.25); */
  width: 70%;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 80px;
}

.App-title {
  font-size: 6rem;
  font-weight: 900;
  margin: 0;
  padding: 0;
  display: inline-block;
  position: relative;
}

.App-title .text {
  background-color: #00C2FF;
  display: block;
  line-height: 1;
}


.App-title .secretEmoji {
  width: 5rem;
  height: 5rem;
  font-size: 3rem;
  transform: rotate(180deg);
  left: 0;
  z-index: -1;
  line-height: normal
}

.App-title:hover .secretEmoji {
  transform: rotate(0deg);
  left: -6rem;
}

h2 {
  font-size: 3rem;
  font-weight: 500;
}

p {
  font-size: 1.75rem;
  font-weight: 500;
}

a:link,
a:visited {
  color: #fff;
  position: relative;
  text-decoration: none;
}

a::after {
  content: "";
  border-top: 2px solid #fff;
  height: 0px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  transition: all 50ms ease-in-out;
}

a:hover {
  opacity: .85;
}

a:hover::after {
  left: .25rem;
  right: .25rem;
}

.interests {
  list-style: none;
  padding: 0;
  margin-left: -40px;
}

.interest {
  display: inline-block;
  margin-left: 40px;
  margin-bottom: 20px;
  line-height: 1;
  position: relative;
}

.interest .text {
  font-size: 1rem;
  padding: 10px 10px 6px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #000;
  background-color: #fff;
  font-weight: 900;
  display: inline-block;
  position: relative;
  height: 32px;
}

.interest .secretEmoji {
  width: 32px;
  height: 32px;
  background-color: white;
  color: inherit;
  line-height: 37px;
  font-size: 1rem;
  /* transform: scale(.5) rotate(45deg); */
  border-radius: 0;
  z-index: -1;
}

.interest:hover .text {
  padding-left: 0;
  margin-left: 10px;
}

.interest:hover .secretEmoji {
  display: inline-block;
  margin-left: -22px;
  /* transform: scale(1) rotate(0deg); */
}

.secretEmoji {
  transition: all 150ms ease-in-out;
  border-radius: 50%;
  background-color: #fff;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  position: absolute;
}
